@font-face {
    font-family: "PlayfairDisplay";
    src: local("PlayfairDisplay"),
        url("/fonts/PlayfairDisplayRegular.woff2") format("woff2"),
        url("/fonts/PlayfairDisplayRegular.woff") format("woff"),
        url("/fonts/PlayfairDisplayRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
    url("/fonts/RobotoRegular.woff2") format("woff2"),
    url("/fonts/PlayfairDisplayRegular.woff") format("woff"),
    url("/fonts/RobotoRegular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"),
        url("/fonts/RobotoBold.woff2") format("woff2"),
        url("/fonts/RobotoBold.woff") format("woff"),
        url("/fonts/RobotoBold.ttf") format("truetype");   
    ;
    font-weight: 700;
    font-style: normal;
}
